* {
  box-sizing: border-box;
  font-family: Roboto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

html, body {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden !important;
}

body {
  color: #1a4677 !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto !important;
}

main {
  margin-top: 75px !important;
  margin-bottom: 85px !important;
}

main > .container {
  padding: 5px 5px 5px 5px !important;
}

ul li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  padding-bottom: 2px !important;
  box-shadow: inset 0 -2px 0 0 rgb(179, 179, 179) !important;
  cursor: pointer !important;
  color: rgb(179, 179, 179) !important;
}

header {
  position: fixed !important;
  align-items: center !important;
  text-align: center !important;
  display: inline !important;
  font-size: 12px !important;
  height: 75px !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  color: #1a4677 !important;
  z-index: 1001 !important;
  box-shadow: 0px 0px 40px rgb(179, 179, 179) !important;
  background-color: #fff !important; 
  padding: 10px !important;
}

footer {
  position: fixed !important;
  list-style: none !important;
  display: inline !important;
  align-items: center !important;
  padding-top: 2.5em !important;
  height: 80px !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-image: linear-gradient(to right, rgb(12, 26, 50), rgb(56, 99, 169)) !important;
  box-shadow: 0px -20px 40px rgb(204, 204, 204) !important;
  color: #fff !important;
  z-index: 1001 !important;
  font-size: 11px !important;
}

button {
  display:flex !important;
  margin: 2.5px !important;
  background-color: hsl(212, 64%, 28%) !important;
  color: #fff !important;
  text-transform: uppercase !important;
  justify-content: center !important;
  cursor: pointer !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #fff !important;
}

button:hover {
  padding-bottom: 2px !important;
  color: rgb(179, 179, 179) !important;
  box-shadow: inset 0 -2px 0 0 rgb(179, 179, 179) !important;
  cursor: pointer !important;
}

button:disabled {
  background-color: rgb(179, 179, 179) !important;
}

form {
  max-width: 550px !important;
  max-height: 550px !important;
  background-color: #fff !important;
  opacity: 0.9 !important;
  border: 0 !important;
}

input {
  position: relative !important;
}

p {
  font-size: 10pt !important;
}

h1 {
  font-size: 5em !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

h2 {
  font-size: 4em !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

h3 {
  font-size: 3em !important;
  font-weight: 350 !important;
  line-height: normal !important;
}

h4 {
  font-size: 2em !important;
  font-weight: 300 !important;
  line-height: normal !important;
  color: #fff !important;
}

h5 {
  font-size: 1.5em !important;
  font-weight: 200 !important;
  line-height: normal !important;
}

h6 {
  font-size: 1em !important;
  font-weight: 100 !important;
  line-height: normal !important;
  color: #000 !important;
}

.surface {
  z-index: 9999 !important
}

.raised {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  max-width: 768px !important;
  width: 85% !important;
  padding: 1em !important;
  min-height: 250px !important;
  max-height: 550px !important;
  transform: translateX(-50%) translateY(-50%) !important;
  box-shadow: 0px 0px 20px 10px rgb(179, 179, 179) !important;
  display: flex !important;
  justify-content: space-evenly !important;
  vertical-align: middle !important;
  overflow-y: auto !important;
}

.dropdown .dropdown-toggle {
  border: none !important;
  outline: none !important;
  background-color: inherit !important;
  font-family: inherit !important;
  margin: 0 !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  float: left !important;
  text-align: left !important;
  justify-content: flex-start !important;
}

.navbar div a {
  float: left !important;
  text-align: center !important;
  text-decoration: none !important;
}

.navbar div a:hover, .dropdown:hover .dropdown-toggle {
  text-decoration: none !important;
}

.nav-scroller {
  position: relative !important;
  z-index: 2 !important;
  height: 2.75rem !important;
  overflow-y: hidden !important;
}

.nav-scroller .nav {
  display: flex !important;
  flex-wrap: nowrap !important;
  padding-bottom: 1rem !important;
  margin-top: -1px !important;
  overflow-x: auto !important;
  text-align: center !important;
  white-space: nowrap !important;
  -webkit-overflow-scrolling: touch !important;
}

.tab-side {
  position: fixed !important;
  right: 0px !important;
  z-index: 9999 !important;
  display: block !important;
  cursor: pointer !important;
  text-align: center !important;
  color: #1a4677 !important;
  background-color: #fff !important;
  opacity: 0.8 !important;
  box-shadow: 0px 0px 17px 0px rgb(179, 179, 179) !important;
  padding: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  bottom: 5% !important;
}

.tab-side:hover {
  opacity: 1 !important;
  color: #1a4677 !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 20px 10px #1a4677 !important;
  cursor: pointer !important;
}

.support {
  background-color: #fff !important;
  color: #1a4677 !important;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}

.small, small {
  font-size: 0.7em !important;
  align-items: center !important;
  align-content: center !important;
  width: 100% !important;
  margin-top: 2em !important;
}

.recess-up {
  margin: -4em 0 2em 0 !important;
  padding: 1em !important;
}

.recess-down {
  margin: 3em 0 -5em 0 !important;
  padding: 2em !important;
}

.fold-in {
  margin: -4em 0 -4em 0 !important;
}

.fold-out {
  margin: 4em 0 4em 0 !important;
}

[class*="-primary"] {
  color: #1a4677 !important;
  background-color: #fff !important;
}

[class*="-secondary"] {
  color: rgb(179, 179, 179) !important;
  background-color: #fff !important;
}

.text-success {
  font-size: 0.8em !important;
  margin: 2.5px !important;
}

.text-light {
  color: #fff !important;
}

.text-dark {
  color: #000 !important;
}

.bg-primary {
  background-color: #1a4677 !important;
}

.bg-secondary {
  background-color: rgb(179, 179, 179) !important;
}

.bg-light {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #000 !important;
}

.btn-outline-primary {
  height: auto !important;
  width: 100% !important;
  background-color: #fff !important;
  box-shadow: 0 4px 4px 0 #1a4677 !important;
  text-transform: uppercase !important;
  border: 0 !important;
  cursor: pointer !important;
}

.btn-primary {
  margin-top: 15px !important;
  width: 100% !important;
  height: 45px !important;
  background-color: #1a4677 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border: 0 !important;
  border-radius: 3px !important;
  box-shadow: 0 4px 4px 0 #1a4677 !important;
  cursor: pointer !important;
}

.btn-primary:disabled {
  background-color: rgb(179, 179, 179) !important;
  cursor: not-allowed !important;
}

.btn-light {
  background-color: #fff !important;
  color: #1a4677 !important;
}

.btn-dark {
  background-color: #000 !important;
  color: rgb(179, 179, 179) !important;
}

.toast-buttons {
  text-align: right !important;
  align-items: right !important;
}

.img-sm {
  width: 200px !important;
  height: 200px !important;
  padding: 15px !important;
}

.img-md {
  width: 400px !important;
  height: 400px !important;
  padding: 15px !important;
}

.img-lg {
  width: 600px !important;
  height: 600px !important;
  padding: 15px !important;
}

.container {
  width: auto !important;
  max-width: 680px !important;
  padding: 10px 35px !important;
}

.login {
  position: relative !important;
   
  justify-content: center !important;
  margin-top: 2em !important;
  margin-bottom: 4em !important;
  height: 100% !important;
}
#form-verify-identity.show{
  display: flex !important;
}

.login .map {
  position: absolute !important; 
  display: flex !important;
  padding: 1em !important;
  justify-content: center !important;
  height: 80% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  filter: blur(5px) !important;
}

.gtfo {
  display: none !important;
}

.loader {
  overflow: hidden !important;
  background-color: transparent !important;
}

.loader img {
  margin-top: -2em !important;
  align-items: center !important;
  width: auto !important;
  height: auto !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
}

.prompt {
  position: absolute !important;
  top: 2% !important;
  right: 2% !important;
  z-index: 9999 !important;
}

.align-items-center {
  text-align: center !important;
  align-items: center !important;
}

.align-items-left {
  text-align: left !important;
  align-items: left !important;
}

.align-items-right {
  text-align: right !important;
  align-items: right !important;
}

.divider {
  padding-right: 2em !important;
  padding-left: 2em !important;
  opacity: 70% !important;
}

.pointer {
  cursor: pointer !important;
}

@media only screen and (max-width: 768px) {
  #nav-list {
    display: none !important;
  }
  #btn-menu {
    display: block !important;
  }
}
